# .env.example

# This is an example file for running the app locally.
# This must be copied into .env file

# Passphrase used to generate jwt token 
SUPER_SECRET='your-secret-key'

# Url to the MongoDb database
DB_URL='mongodb+srv://mongoadmin:OTPk5CLSW4fJfeY3@cluster0.twbxma1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'


# Path to external frontend - If not provided, basic frontend in static/index.html is used
# FRONTEND='../EasyLibVue/dist'