# .gitignore

# Ignora la cartella node_modules
node_modules/

# Ignora il file di ambiente
.env

# Ignora la cartella dist
dist/

# Ignora la cartella .cache
.cache/

# Ignora i file di log
*.log

# Ignora i file .DS_Store 
.DS_Store

# Ignora la cartella build
/build/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
